/*Celia Moruno Herrojo*/

@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Slackey&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

aside {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    width: 15%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
        top: 0;
        bottom: 0;
}

aside h1 {
    text-align: center;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 1rem 0;
}

aside ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 65%;
    margin: 3% 10% 3% 25%;
}

#art-git{
    margin: 1% auto;
    width: 80%;
}

#art-git > h1{
    font-family: "Slackey";
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#img-sep{
    width: 4rem;
    position: relative;
        top: 1rem;
}

section {
    margin-bottom: 2rem;
}

details {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

summary {
    font-weight: bold;
    cursor: pointer;
}

summary:hover {
    color: #007BFF;
}

summary > h2 {
    display: inline-block;
}

#p-git-travesia{
    text-align: justify;
    padding: 2%;
}

/*----------Class-------------*/
.underline {
    text-decoration: underline;
}

.bolder{
    font-weight: bold;
}

.li-title{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    list-style-type: none;
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
}